/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/fonts
/public/img
/public/certificates
/public/spreadsheet
/public/vendor_custom
/public/bower_components
/public/backend
/resources/assets/compiled
/storage/*.key
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/traefik
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/package-lock.json
composer.phar
composer.lock
package.lock
bower_components/*
/db
/deploy/terraform
/resources/assets/compiled
/public/backend
/cypress/videos
yarn.lock
.env.prod
deploy_dev.sh
deploy
deploy/*